{{!-- <footer class="text-center mt-4">
  <p>&copy; 2025 MyScore. All rights reserved.</p>
</footer> --}}

<footer class="footer-area section_gap">
    <div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>關於 MyScore</h4>
        <ul>
            <li><a href="#">關於我們</a></li>
            {{!-- <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li> --}}
        </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>友善連結</h4>
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>3rd link list</h4>
        <ul>
            <li><a href="#">1st link</a></li>
            <li><a href="#">2nd link</a></li>
            <li><a href="#">3rd link</a></li>
            <li><a href="#">4th link</a></li>
        </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>聯絡我們</h4>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">instagram</a></li>
            {{!-- <li><a href="#"></a></li>
            <li><a href="#"></a></li> --}}
        </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>快速加入甲甲行列</h4>
        <p>只要您在下方輸入您的email, 我們就會立即幫您註冊到同志網站, 祝您好運。</p>
        <div class="form-wrap" id="mc_embed_signup">
            <form
            target="_blank"
            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get"
            class="form-inline"
            >
            <input
                class="form-control"
                name="EMAIL"
                placeholder="Your Email Address"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address'"
                required=""
                type="email"
            />
            <button class="click-btn btn btn-default">
                <span>subscribe</span>
            </button>
            <div style="position: absolute; left: -5000px;">
                <input
                name="b_36c4fd991d266f23781ded980_aefe40901a"
                tabindex="-1"
                value=""
                type="text"
                />
            </div>

            <div class="info"></div>
            </form>
        </div>
        </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | myScore_v20250621 is made with 🗑️⛩️🈲💗</i> by <a href="https://github.com/hhboy4158" target="_blank">hhboy4158</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-sm-12 footer-social">
        <a href="https://www.facebook.com/godtone3be0"><i class="ti-facebook"></i></a>
        <a href="https://x.com/realgodtone"><i class="ti-twitter"></i></a>
        <a href="https://www.instagram.com/godtoneasia/"><i class="ti-instagram"></i></a>
        <a href="https://www.twitch.tv/asiagodtonegg3be0/clip/GiftedUgliestSwanPraiseIt?filter=clips&range=all&sort=time"><i class="ti-youtube"></i></a>
        </div>
    </div>
    </div>
</footer>